---
title: Recipe Title
category: america, appetisers &amp; snacks
---
<meta name="Description" CONTENT="Recipe Description Here">
<div itemscope itemtype="http://schema.org/Recipe">

  <div class="recipe-image">
    <img itemprop="image" src="/images/profiterole.png" class="img-responsive" alt="Recipe Name - Rock and Roll Food www.rockandrollfood.co.uk #rockandrollfood #rockandrollrecipes #foodporn">
  </div>

  <div class="recipe-details">
    <div class="container">
      <h1 itemprop="name">Recipe Title</h1>
      <p itemprop="description">Ooh look a sample description that even includes a <a href="#">link</a> to another recipe</p>
      <p><span itemprop="recipeYield">Serves 2</span> · <time datetime="PT10M" itemprop="prepTime">Prep 10m</time> · Cook <time datetime="PT10M" itemprop="cookTime">10m</p>
      <p><span class="label label-default" itemprop="recipeCuisine">america</span> · <span class="label label-default" itemprop="recipeCategory">appetisers &amp; snacks</span></p>
    </div>
  </div>

  <div class="recipe-info">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Rock &amp; Cook:</h3>
          <p>&nbsp; &nbsp; &nbsp; &nbsp;<strong>Dookie</strong></br>&nbsp; &nbsp; &nbsp; &nbsp;Green Day (1994)</p>
          <p>&nbsp; <iframe src="https://embed.spotify.com/?uri=spotify:album:4uG8q3GPuWHQlRbswMIRS6" width="300" height="80" frameborder="0"></iframe></p>
        </div>
        <div class="col-md-3">
          <h3>Ingredients</h3>
          <p>
            <ul>
              <li itemprop="recipeIngredient">Ingredient 1</li>
              <li itemprop="recipeIngredient">Ingredient 2</li>
              <li itemprop="recipeIngredient">Ingredient 3</li>
              <li><em>Serve:</em></li>
              <li itemprop="recipeIngredient">Serving ingredient</li>
            </ul>
          </p>
        </div>
        <div class="col-md-5">
          <h3>Directions</h3>
          <p>
            <ol itemprop="recipeInstructions">
              <li>Here is the first direction for the recipe on this line</li>
              <li>Here is the second direction for the recipe on this line</li>
              <li>Here is the third direction for the recipe on this line</li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="social-sharing">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= partial "social" %>
        </div>
      </div>
    </div>
  </div>

  <div class="facebook-comments-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= partial "comments" %>
        </div>
      </div>
    </div>
  </div>
  
</div>