<div class="course-contents">
  <div class="container">
    <h2>Contents List</h2>
    <p>A description of the contents list</p>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
        <a href="/templates/sample-recipe.html" alt="this course description"><img src="/images/sample-image-16-9.png"></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
        <a href="/templates/sample-recipe.html" alt="this course description"><img src="/images/sample-image-16-9.png"></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
        <a href="/templates/sample-recipe.html" alt="this course description"><img src="/images/sample-image-16-9.png"></a>
        </div>
      </div>
    </div>
  </div>
</div>