<div class="home-img">
  <img src="/images/sample-image-16-9.png" class="img-responsive" alt="alt text">
</div>
<div class="home-text">
  <div class="container">
    <h1>Here's my h1 content</h1>
    <p>And a bit of text</p>
    <h2>And my h2 content!</h2>
  </div>
</div>